
html{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;

}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 65%;
}

.topSection{
    background: url(https://images.pexels.com/photos/1090972/pexels-photo-1090972.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=900&w=1260);
    background-repeat: no-repeat;
    box-shadow:inset 0 0 0 2000px rgba(5, 5, 5, 0.301);
    /* background-attachment: fixed; */
    background-position: center;
    background-color: rgba(0, 0, 0, 0.596);
    height: 700px;
}
.home{
    color:orangered !important
}

.hey{
    margin-top: 120px;
    font-size: 90px;
    color: rgba(255, 255, 255, 0.966);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.aboutMeDetails{
    font-size: 20px;
    color: rgb(187, 187, 187);
    
}

.customIcon{
    color: white;
}

.customIcon:hover{
    color: rgb(13, 197, 197);
    transition: 0.8s;
}

.downAarow{
    color: white;
    margin-top: 7%;
}

.downAarow:hover{
    color: rgb(13, 197, 197);
    transition: 0.8s;
}

.aboutZach{
    font-size: 24px;
}
.aboutMe{
    background-color: rgb(43, 43, 43);

}
.aboutParagraph{
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.listName{
    line-height: 10px;
}
.listStamford{
    line-height: 10px;
}
.listPhone{
    line-height: 10px;
    color: white;
    text-decoration: white;
}
.listEmail{
    line-height: 10px;
}
.resumeBtn{
    margin-left: 20%;
}
.skillSection{
    background-color: rgb(241, 241, 241);
}
.skillP{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: underline rgb(13, 197, 197);
}
.skillList{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(143, 151, 155);
}

.projects{
    background-color: #273a4d;
}

.projectsP{
    color: rgb(143, 151, 155);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;

}


.bamBack{
    height: 200px;
    /* width: 200px; */
    background-image: url('../../assets/images/bamShot.png');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.liriBack{
    height: 200px;
    /* width: 200px; */
    background-image: url('../../assets/images/liriPic.png');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;

}
.groundzBack{
    height: 200px;
    /* width: 200px; */
    background-image: url('../../assets/images/groundzPic.png');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.gruberBack{
    height: 200px;
    /* width: 200px; */
    background-image: url('../../assets/images/gruberPic.png');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}
.bamBtn {
    display: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
  }
 
  

  .bamBack:hover  {
    /* Change the filter in here */
    box-shadow:inset 0 0 0 2000px rgba(5, 5, 5, 0.822);
  }
  .liriBack:hover{
    box-shadow:inset 0 0 0 2000px rgba(5, 5, 5, 0.822);

  }
  .groundzBack:hover{
    box-shadow:inset 0 0 0 2000px rgba(5, 5, 5, 0.822);

  }
  .gruberBack:hover{
    box-shadow:inset 0 0 0 2000px rgba(5, 5, 5, 0.822);

  }

  .bamBack:hover .bamBtn {
    display: inline-block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
  }
  .liriBack:hover .bamBtn{
    display: inline-block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
  }
  .groundzBack:hover .bamBtn{
    display: inline-block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
  }
  .gruberBack:hover .bamBtn{
    display: inline-block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
  }
  .bamBack:hover .btn {
    display: inline-block;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
  }
.nodeP{
    color: rgb(167, 167, 167);
}
.upAarow:hover{
    color: rgb(13, 197, 197) !important;
    transition: 0.8s;

}

#footer{
    background-color: rgb(15, 15, 15);
}

@media only screen and (max-width: 600px) {
   .resumeBtn{
      /* background-color: lightblue; */
      margin-left: -190px;
      margin-top: 80px;
    }
  }